/* track start */
.Tracking-btn {
    color: rgb(6, 89, 239);
    border: 2px solid rgb(6, 89, 239);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Tracking-img {
    max-width: 180px;
}

.track {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 1px #f0f0f0;
    width: 1100px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-left: 200px; */
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* track ends */
/* About Headway Tracker start */
.head-img {
    max-width: 700px;
    align-self: center;
}

.about-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.track-feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.headway-track {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1100px;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 1px #f0f0f0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-left: 200px; */
    margin-bottom: 30px;
}

/* About Headway Tracker ends */
/* free Courses Start */
.new-course {
    background-color: rgb(246, 246, 246);
    max-width: 90%;
    padding: 20PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 4px 4px 1px #f9f9f9;
    margin-bottom: 30px;
}

.courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.space {
    width: 15px;
    height: 40px;
    background-image: linear-gradient(rgb(6, 89, 239), rgb(1, 62, 191));
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.space-course {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.design {
    display: flex;
    gap: 20px;
    align-items: center;
}

.c-cards {
    background-color: #FAFAFA;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 2px 2px 1px #f0f0f0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.c-cards:hover {
    border: 2.5px solid rgb(6, 89, 239);
}

.nc-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card-img {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nc-img1 {
    max-width: 270px;
    max-height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nc-img2 {
    max-width: 270px;
    max-height: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nc-logo {
    max-width: 40px;
    max-height: 40px;
}

.view-more {
    border: 2px rgb(1, 62, 191) solid;
    color: #111111;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.view-more:hover {
    color: rgb(1, 62, 191);
}

/* free Courses end */
/* play-store start */
.p-img {
    max-width: 350px;
}

.p-icon {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.icon {
    display: flex;
    gap: 30px;
}

.icon-size {
    max-width: 180px;
}

.play-store {
    display: flex;
}

/* play-store ends */
/* to align center all contents */
.all-tracking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* to align center all contents */



/* Media query for tablet original large start*/
@media(max-width: 768px){
    /* top navigation start */
    .hamburger{
        display: none;
    }
    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px #CDCDCD solid;
        padding: 10px;
        padding-left: 40px;
        padding-right: 50px;
        margin-bottom: 10px;
    }
    
    .link-groups {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    
    .links {
        font-size: 0.8rem;
        font-weight: 400;
        display: flex;
        gap: 30px;
    }
    
    .links:hover {
        color: rgb(6, 89, 239);
    }
    
    .bi-search {
        max-width: 100px;
    }
    
    .bi-search:hover {
        color: rgb(6, 89, 239);
    }
    
    .login {
        border: 2px rgb(6, 89, 239) solid;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 5px;
        font-weight: 600;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
    
    .login:hover {
        background-color: rgb(6, 89, 239);
        color: #F3F3F3;
    }
    
    .lo-search {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    
    /* top navigation ends  */
/* track start */
.Tracking-btn {
    color: rgb(6, 89, 239);
    border: 2px solid rgb(6, 89, 239);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Tracking-img {
    max-width: 150px;
}

.track {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 1px #f0f0f0;
    width: 700px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-left: 200px; */
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* track ends */
/* About Headway Tracker start */
.head-img {
    max-width: 500px;
    align-self: center;
}

.about-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.track-feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.headway-track {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 700px;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 1px #f0f0f0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-left: 200px; */
    margin-bottom: 30px;
}

/* About Headway Tracker ends */
/* free Courses Start */
.new-course {
    background-color: rgb(246, 246, 246);
    max-width: 90%;
    padding: 20PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 4px 4px 1px #f9f9f9;
}

.courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.space {
    width: 15px;
    height: 40px;
    background-image: linear-gradient(rgb(6, 89, 239), rgb(1, 62, 191));
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.space-course {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.design {
    display: flex;
    gap: 20px;
    align-items: center;
}

.c-cards {
    background-color: #FAFAFA;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 2px 2px 1px #f0f0f0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.c-cards:hover {
    border: 2.5px solid rgb(6, 89, 239);
}

.nc-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.card-img {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nc-img1 {
    max-width: 270px;
    max-height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nc-img2 {
    max-width: 270px;
    max-height: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nc-logo {
    max-width: 40px;
    max-height: 40px;
}
/* free Courses end */
/* play-store start */
.p-img {
    max-width: 300px;
}

.p-icon {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.icon {
    display: flex;
    gap: 30px;
}

.icon-size {
    max-width: 180px;
}

.play-store {
    display: flex;
}

/* play-store ends */
/* to align center all contents */
.all-tracking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* to align center all contents */
}
/* Media query for tablet original large end*/


/* Media query for mobile original large start*/
@media(max-width: 425px){
    /* top navigation start */
    .hamburger{
        display: block;
        max-width: 30px;
        border: 2px rgb(6, 89, 239) solid;
        /* padding: 5px; */
    }
    /* .hamburger:checked ~ .links{
        .links{
            display: block;
        }
    } */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #CDCDCD solid;
    padding: 10px;
    padding-left: 40px;
    padding-right: 50px;
    margin-bottom: 10px;
}

.link-groups {
    display: none;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.links {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 60px;
    /* background-color: #efefef; */
    position: absolute;
    /* top: 20px; */
}

.links:hover {
    color: rgb(6, 89, 239);
}

.bi-search {
    max-width: 100px;
}

.bi-search:hover {
    color: rgb(6, 89, 239);
}

.login {
    border: 2px rgb(6, 89, 239) solid;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    font-weight: 600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.login:hover {
    background-color: rgb(6, 89, 239);
    color: #F3F3F3;
}

.lo-search {
    display: none;
    /* gap: 40px;
    align-items: center; */
}

/* top navigation ends  */
/* track start */
.Tracking-btn {
    color: rgb(6, 89, 239);
    border: 2px solid rgb(6, 89, 239);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.up{
    font-size: 1.2rem;
}
.get{
    font-size: 0.8rem;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Tracking-img {
    max-width: 150px;
}

.track {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 1px #f0f0f0;
    width: 500px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-left: 200px; */
    margin-bottom: 30px;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* track ends */
/* About Headway Tracker start */
.head-img {
    max-width: 300px;
    align-self: center;
}

.about-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.track-feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.headway-track {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 1px #f0f0f0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* margin-left: 200px; */
    margin-bottom: 30px;
}

/* About Headway Tracker ends */
/* free Courses Start */
.new-course {
    background-color: rgb(246, 246, 246);
    max-width: 90%;
    padding: 20PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 4px 4px 1px #f9f9f9;
}

.courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.space {
    width: 15px;
    height: 40px;
    background-image: linear-gradient(rgb(6, 89, 239), rgb(1, 62, 191));
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.space-course {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.design {
    display: flex;
    gap: 20px;
    align-items: center;
}

.c-cards {
    background-color: #FAFAFA;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 2px 2px 1px #f0f0f0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.c-cards:hover {
    border: 2.5px solid rgb(6, 89, 239);
}

.nc-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.card-img {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nc-img1 {
    max-width: 270px;
    max-height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nc-img2 {
    max-width: 270px;
    max-height: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nc-logo {
    max-width: 40px;
    max-height: 40px;
}

/* free Courses end */
/* play-store start */
.p-img {
    max-width: 250px;
}

.p-icon {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.icon {
    display: flex;
    gap: 30px;
}

.icon-size {
    max-width: 130px;
}

.play-store {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

/* play-store ends */
/* to align center all contents */
.all-tracking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* to align center all contents */
/* footer start */
.to-top {
    background-color: #464646;
    /* padding-left: 600px;
    padding-right: 716px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.t-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.t-2 {
    display: flex;
    gap: 30px;
}

.foot {
    display: flex;
    flex-direction: column;
    gap: 0%;
}

.footend {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    background-color: #121212;
    padding: 30px;
    
}

.text-foot {
    display: flex;
    gap: 30px;
}

.lang-foot {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eng {
    border: 2px solid #ebebeb;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.apply {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* footerend */
}
  /* Media query for tablet original large end*/
